<h1>My Tasks</h1>
  <% @tasks.each do |task| %>
  <div class="d-flex align-items-center">
  <% if task.completed? %>
  <i class="far fa-check-square"></i>
  <% else %>
  <i class="far fa-square"></i>
  <% end %>

  <h2><%= link_to task.title, task_path(task) %></h2>

  <%= link_to task_path(task), 
    method: :delete,
    data: { confirm: "Are you sure?" } do %>
  <i class="fas fa-trash"></i>
  <% end %>
</div>
  <% end %>
